:root {
    /* --clr-primary-1: hsl(151, 67%, 72%);
    --clr-primary-2: hsl(122, 100%, 79%);
    --clr-primary-3: hsl(113, 100%, 83%);
    --clr-primary-4: hsl(99, 100%, 86%);
    --clr-primary-5: hsl(68, 53%, 92%); */

    --clr-primary: white;
    --clr-secondary: black;
}

* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--clr-primary);
}